Source: pika-baseos
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-baseos
Architecture: all
Essential: yes
Pre-Depends:
## Basic minimal setup
    adduser,
    apt,
    apt-utils,
    console-setup,
    debconf,
    debconf-i18n,
    dhcpcd-base,
    e2fsprogs,
    eject,
    init,
    iproute2,
    iputils-ping,
    kbd,
    kmod,
    less,
    locales,
    lsb-release,
    mawk,
    mount,
    netbase,
    netcat-openbsd,
    netplan.io,
    passwd,
    procps,
    python3,
    sensible-utils,
    sudo,
    tzdata,
    udev,
    vim-tiny,
    whiptail,
    rsyslog,
Depends: ${misc:Depends}, 
# Base
## Basic minimal setup
    adduser,
    apt,
    apt-utils,
    console-setup,
    debconf,
    debconf-i18n,
    dhcpcd-base,
    e2fsprogs,
    eject,
    init,
    iproute2,
    iputils-ping,
    kbd,
    kmod,
    less,
    locales,
    lsb-release,
    mawk,
    mount,
    netbase,
    netcat-openbsd,
    netplan.io,
    passwd,
    procps,
    python3,
    sensible-utils,
    sudo,
    tzdata,
    udev,
    vim-tiny,
    whiptail,
    rsyslog,
## General
    libglib2.0-bin,
    pika-package-manager,
    apt-transport-https,
    software-properties-common,
    refind,
    avahi-autoipd,
    avahi-daemon,
    dbus-user-session,
    pika-sources,
    openssh-server,
    nano,
    bash-completion,
    auto-complete-el,
    wget,
    curl,
    git,
    dbus-broker,
    flatpak,
    ca-certificates,
    libapr1,
    libaprutil1, 
    libxcb-cursor0,
    ananicy-rules,
    booster,
    python3-cairo,
    python3-gi-cairo,
## gvfs backends
    gvfs-backends,
    gvfs-fuse,
## XDG
    policykit-1,
    xdg-desktop-portal,
    xdg-user-dirs,
    xdg-utils,
## Filesystems
    lvm2,
    ecryptfs-utils,
    ntfs-3g,
    nfs-common,
    apfsprogs,
    btrfs-progs,
    e2fsprogs,
    exfatprogs,
    hfsprogs,
    xfsprogs,
# Hardware
    fwupd,
    fwupdate,
    pcmciautils,
    mousetweaks,
## Display and Graphics
    pika-amdgpu-core,
    pika-amdgpu-config,
    pika-nvidia-config,
    pika-i915-config,
    xorg,
    mesa-hybrid | mesa-stable | mesa-git | mesa-custom | mesa-hybrid-no-march | mesa-stable-no-march | mesa-git-no-march | mesa-custom-no-march,
    wayland-protocols,
    xwayland,
## Power saving and laptops
    laptop-detect,
    supergfxctl,
    switcheroo-control,
    acpi,
## Printing
    cups-bsd,
    cups,
    openprinting-ppds,
    printer-driver-brlaser,
    printer-driver-c2esp,
    printer-driver-foo2zjs,
    printer-driver-gutenprint,
    printer-driver-m2300w,
    printer-driver-min12xxw,
    printer-driver-ptouch,
    printer-driver-pxljr,
    printer-driver-sag-gdi,
    printer-driver-splix,
    cups-client,
    cups-filters,
    cups-pk-helper,
## Networking and Bluetooth
    bluez,
    bluez-cups,
    ifupdown,
    network-manager,
    resolvconf,
    libnss-mdns,
    net-tools,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    wireless-tools,
    rfkill,
    gstreamer1.0-plugins-base-apps,
    glib-networking,
    nfs-common,
    samba-common-bin,
    wpasupplicant,
## Audio and codecs
    pika-audio-pipewire | pika-audio-legacy
Recommends: power-profiles-daemon
Conflicts: nvidia-prime
Description: The backbone of PikaOS
